.list-box {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 250px;
  margin-bottom: 7px;
  background-color: rgb(255, 255, 255);

  &:hover {
    opacity: 0.7;
    color: gray;
  }

  .list-item-box {
    display: flex;
    width: 220px;
    height: 290px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 247, 247);

    .tag {
      margin-top: 8px;
    }

    .img {
      width: 200px;
      height: 206px;
    }

    .img:hover {
      transform: scale(1.03);
      background-color: gray;
    }

    .title {
      margin: 10px 0 10px;
    }

    .price {
      margin-bottom: 20px;
      color: gray;
    }
  }
}
