.list-box {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 250px;

  .list-item-box {
    display: flex;
    width: 220px;
    height: 290px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(250, 250, 250);

    .img {
      width: 200px;
      height: 200px;
    }

    .img:hover {
      transform: scale(1.03);
    }

    .title {
      margin: 10px 0 10px;
    }

    .price {
      margin-bottom: 10px;
      color: gray;
    }
  }
}
