.tag-box {
  display: flex;
  width: 120px;
  justify-content: center;

  .tag-box-list {
    width: 70%;
    padding: 3px;
    border: 1px solid rgb(0, 149, 255);
    border-radius: 40%;
  }

  .new {
    color: rgb(0, 149, 255);
    font-size: 15px;
    width: 100%;
    text-align: center;
  }
}
