.product-list {
  margin: 100px 0 100px;
}

.list-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translate(0, -50px);
  background-color: rgb(255, 255, 255);

  .menu-bar {
    display: flex;
    justify-content: space-between;
    width: 850px;
    height: 40px;
    font-size: 20px;
    align-items: center;
    transform: translate(0, -30px);

    .filter {
      display: flex;
      justify-content: space-evenly;
      width: 450px;

      .link {
        margin-right: 30px;
        text-decoration: none;
        color: black;
      }
    }

    .order {
      width: 150px;
      font-size: 15px;
      height: 30px;
      text-align: center;
    }
  }

  .page-box {
    display: flex;
    justify-content: flex-start;
    align-content: space-around;
    flex-wrap: wrap;
    width: 1000px;
    height: 100%;
  }
  .button-click {
    display: flex;
    justify-content: space-between;
    width: 220px;
    margin: 30px 0 30px;
  }
  .btn {
    border: none;
    cursor: pointer;
    background-color: white;
  }
}
