main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}
.pageBox {
  display: flex;
  align-content: flex-start;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
  width: 1000px;
  height: 1600px;
}
.menuBar {
  display: flex;
  justify-content: space-between;
  width: 850px;
  height: 40px;
  font-size: 20px;
  align-items: center;
}
.filter {
  display: flex;
  justify-content: space-evenly;
  width: 450px;
}
.order {
  width: 150px;
  font-size: 15px;
  height: 30px;
  text-align: center;
}
.buttonClick {
  display: flex;
  justify-content: space-between;
  width: 220px;
  margin: 30px 0 30px;
}
.btn {
  border: none;
  background-color: white;
}
