.cart-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  .wrap {
    width: 1200px;

    .page-title {
      width: 100%;
      height: 32px;
      margin-top: 50px;
      font-size: 22px;
      font-weight: bold;
      text-align: center;

      .cart-title {
        font-size: 40px;
      }
    }
  }
}

.card-table-body {
  .text {
    text-align: center;
  }
}

.table-head {
  display: flex;
  flex-direction: column;

  .card-table-head {
    .table-row {
      display: flex;
      justify-content: space-between;
      width: 100%;
      border-bottom: 1px solid #eee;
    }
  }
}

.card-table-body {
  .table-row,
  .table-data {
    display: block;
    width: 100%;
    height: 300px;
    border-bottom: 1px solid black;
    text-align: center;

    .table-data {
      .text {
        width: 100%;
        margin-top: 30px;
        text-align: center;
      }
    }
  }
}

.btn-normal {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 65px;
  margin-top: 30px;
  border-top: none;

  .btn-normal-list {
    width: 100%;
    padding: 20px;
    border: 1px solid black;
    border-bottom: 2px solid black;
    color: black;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: black;
      color: white;
    }
  }
}

.cart-price {
  .cart-price-list {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
}

.card-table-head {
  height: 40px;
  color: #757575;
  font-size: 16px;
  .table-row {
    margin-top: 15px;
  }
}

.card-table-body {
  .table-row {
    .table-data {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .text {
        margin-top: 40px;
        font-size: 14px;
      }
    }
  }
}

.cart-price-list {
  .cart-price-text {
    margin-top: 10px;

    .cart-price-product {
      margin-top: 10px;
      margin-right: 20px;
    }
  }
}

.shipping {
  &::before {
    content: '+';
    margin-right: 30px;
  }
}

.total-price {
  &::before {
    content: '=';
    margin-right: 30px;
  }
}

.notice {
  margin-right: auto;
  padding: 20px;
  padding: 10px;
  color: #757575;
  font-size: 12px;

  .love {
    color: #18a957;
  }
}

.bottom-wrapper {
  width: 1200px;

  .button-select {
    margin-right: auto;
    padding: 10px;

    .select,
    .like {
      margin-top: 10px;
      margin-right: 10px;
      padding: 10px;
      background-color: #fff;
      font-size: 14px;
    }
  }
}

.button-bottom {
  display: flex;
  justify-content: center;

  .white-button {
    width: 200px;
    height: 60px;
    margin-right: 20px;
    background: #fff;
  }
}

.black-button {
  width: 200px;
  height: 60px;
  background: #222;
  color: #fff;
}

.cart-price {
  align-items: center;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  background-color: #fafafa;
}

.cart-price-text {
  .cart-price-product {
    color: #757575;
    font-size: 18px;

    .text-weight {
      font-size: 26px;
      font-weight: bolder;
    }
  }
}

.notice {
  .notice-text {
    margin: 10px;
  }
}

.button-bottom {
  margin-bottom: 20px;
}
