.ProductTabBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top {
  display: flex;
  align-items: flex-end;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 530px;
}
.bannerTitle {
  font-size: 50px;
}
.bannerPrice {
  font-size: 40px;
}
.topImg {
  width: 700px;
  transition: all 0.3s linear;
}
.topImg:hover {
  transform: scale(1.2);
}
.bannerComment {
  width: 360px;
  font-size: 25px;
  text-align: right;
}
.bannerPayment {
  display: flex;
  justify-content: space-around;
  width: 440px;
}
.heart {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  font-size: 25px;
  padding: 20px;
  width: 30px;
  text-align: center;
}
.bag {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  font-size: 20px;
  padding: 20px;
  width: 30px;
  text-align: center;
}
.buy {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 30px;
  width: 200px;
  text-align: center;
}
.mid {
  display: flex;
  justify-content: space-evenly;
  font-size: 23px;
  border-bottom: 1px solid gray;
  margin-top: 80px;
  width: 50%;
}
.midDetail {
  margin-bottom: 20px;
}
.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.usage {
  font-size: 30px;
}
