.product-list-review-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 1px;

  .bottom-review-img {
    width: 150px;
    height: 150px;
  }

  .review-star {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    height: 30px;
    width: 100px;
  }

  .review-comment {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;

    .review-title-box {
      display: flex;
    }
  }

  .review-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    height: 200px;
    width: 100px;
    border-right: 1px dashed gray;
  }

  .review-message {
    width: 500px;
    font-size: 20px;
  }
}
