.signup {
  display: flex;
  justify-content: center;

  .wrapper {
    margin: 60px 0 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .big-title {
      font-size: 56px;
      margin-bottom: 100px;
      font-weight: 800;
      letter-spacing: -1.56px;
      line-height: 56px;
    }

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      .title-left {
        font-size: 32px;
        font-weight: 700;
        margin-right: 250px;
      }

      .title-right {
        font-size: 16px;
        color: rgb(119, 119, 119);
        margin-left: 250px;
      }
    }

    .contents {
      display: flex;

      .email-wrapper {
        display: flex;
        justify-content: space-between;
      }

      .password-wrapper {
        display: flex;
        justify-content: space-between;
      }

      .check-password-wrapper {
        display: flex;
        justify-content: space-between;
      }

      .name-wrapper {
        display: flex;
        justify-content: space-between;
      }

      .phonenumber-wrapper {
        display: flex;
        justify-content: space-between;
      }

      .join-wrapper {
        display: flex;
        justify-content: center;
      }
      .join-label {
        height: 35px;
        margin: 31px 15px;
        font-size: 16px;
        color: rgb(65, 65, 65);
      }

      .input-form {
        display: flex;
        flex-direction: column;
        align-items: space-between;
        justify-content: center;

        .info-input {
          width: 695px;
          height: 48px;
          margin: 10px;
          font-size: 16px;
          outline: none;
        }

        .join-button {
          width: 232px;
          height: 64px;
          margin-top: 70px;
          font-size: 20px;
          font-weight: 600;
          background-color: black;
          color: white;
          outline: none;
        }
      }
    }
  }
}
