* {
  box-sizing: border-box;
}

.footerWrap {
  position: relative;
  width: 100%;
  height: 650px;
  background-color: black;
  color: white;
}

.footerInner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 80%;
  background-color: black;
}

.footerUpImg {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 150px;
  background-color: white;
}

.footerMainWrap {
  display: flex;
  width: 1348px;
  margin-top: 60px;
}

.footerLeftSide {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 0 auto;
}

.inputTab {
  width: 350px;
  height: 30px;
  margin-bottom: 40px;
  background-color: rgb(51, 49, 49);
  color: gray;
}

.footerSubInfor {
  width: 450px;
  margin-bottom: 60px;
  font-size: 13px;
  line-height: 20px;
}

.footerCallInfo {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  padding-bottom: 20px;
  line-height: 20px;
}

.footerCallSub {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.emailUnder {
  margin-bottom: 20px;
}

.footerCoporInfo {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 0 50px 30px;
}

.footerSnsLink {
  display: flex;
  align-items: flex-start;
}

.TwiterImg {
  width: 40px;
  height: 40px;
}

.footerRightSide {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
}

.footerNotice {
  display: flex;
  flex-direction: column;
  line-height: 25px;
  margin-bottom: 40px;
  font-size: 13px;
}

.footerMenuList {
  display: flex;
  padding-bottom: 20px;
  font-weight: 400;
  flex-wrap: wrap;
  flex-direction: row;
}

.footMenuGroup1 {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}

.footMenuGroup2 {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}

.footMenuGroup3 {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}

.footerMenuPersonInfo {
  margin-right: 7px;
  color: yellow;
}

.footerMenuFAQ {
  margin-right: 22px;
}

.footerMenuVideoInfo {
  width: 130px;
}

.footerMenuContact {
  width: 56px;
}

.footerUsePolicy {
  margin-right: 195px;
}

.footerPlaceInfo {
  color: gray;
  font-size: 12px;
  line-height: 25px;
}

.foorterCopyRight {
  margin-top: 20px;
}
