@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.footer-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;

  .footer-inner-box {
    width: 1200px;
  }

  .top-footer {
    background-color: gray;
    height: 100px;
    width: 100%;
    font-size: 40px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kaushan Script', cursive;
  }

  .footer-inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 80%;

    .footer-main-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 60px;
      background-color: black;
      padding-bottom: 30px;

      .footer-left-side {
        display: flex;
        flex-direction: column;
        width: 300px;
        margin: 0 auto;

        .input-tab {
          width: 350px;
          height: 50px;
          margin-bottom: 40px;
          background-color: rgb(51, 49, 49);
          color: gray;
        }

        .footer-sub-infor {
          width: 370px;
          margin-bottom: 60px;
          font-size: 16px;
          line-height: 20px;
        }

        .footer-call-info {
          display: flex;
          flex-direction: row;
          margin-bottom: 10px;
          padding-bottom: 20px;
          line-height: 20px;

          .footer-call-sub {
            display: flex;
            flex-direction: column;
            width: 150px;
          }

          .email-under {
            margin-bottom: 20px;
          }

          .footer-copor-info {
            display: flex;
            flex-direction: column;
            width: 150px;

            margin: 0 0 50px 30px;
          }
        }

        .footer-snsLink {
          display: flex;
          align-items: flex-start;
          background-color: black;

          .twiter-img {
            width: 40px;
            height: 40px;
          }
        }
      }

      .footer-right-side {
        display: flex;
        flex-direction: column;
        width: 300px;
        margin: 0 auto;

        .footer-notice {
          display: flex;
          flex-direction: column;
          line-height: 25px;
          margin-bottom: 40px;
          font-size: 16px;
        }

        .footer-menu-list {
          display: flex;
          padding-bottom: 20px;
          font-weight: 400;
          flex-wrap: wrap;
          flex-direction: row;

          .foot-menu-group1 {
            flex-direction: row;
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 20px;
            justify-content: space-between;
            align-items: center;

            .footer-menu-person-info {
              margin-right: 7px;
              color: yellow;
            }

            .footer-menu-FAQ {
              margin-right: 22px;
            }
          }

          .foot-menu-group2 {
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 20px;
            justify-content: space-between;
            align-items: center;

            .footer-menu-video-info {
              width: 130px;
            }
          }

          .foot-menu-group3 {
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 20px;
            justify-content: flex-start;
            align-items: center;

            .footer-use-policy {
              margin-left: 90px;
            }
          }
        }
      }
      .footer-place-info {
        color: gray;
        font-size: 15px;
        line-height: 25px;
        width: 600px;

        .foorter-copy-right {
          margin-top: 20px;
        }
      }
    }
  }
}
