.signIn {
  display: flex;
  justify-content: center;

  .contents {
    margin-top: 170px;
    display: flex;
    flex-direction: column;

    .title {
      display: flex;
      justify-content: center;
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 45px;
    }

    .login-form {
      display: flex;
      flex-direction: column;
    }

    .login-input {
      width: 328px;
      height: 48px;
      outline: none;
      border: 1px solid rgb(182, 182, 182);
    }

    .login-input,
    .login-button {
      margin-top: 10px;
      display: flex;
      justify-content: center;
    }

    .login-button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: black;
      color: white;
      width: 328px;
      height: 64px;
      font-size: 16px;
      margin-top: 30px;
    }

    .etc {
      display: flex;

      .etc-tag {
        text-decoration: underline;
        color: gray;
        margin: 25px;
      }
    }

    .cannot {
      display: flex;
      flex-direction: column;

      .never {
        background-color: #2db300;
        color: white;
        width: 328px;
        height: 64px;
        display: flex;
        align-items: center;
        opacity: 50%;
        margin-top: 10px;
      }

      .gakao {
        background-color: #fee501;
        color: white;
        width: 328px;
        height: 64px;
        display: flex;
        align-items: center;
        margin-top: 10px;
      }
    }
  }
}
