@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.nav {
  display: flex;

  .nav-event-box {
    position: fixed;
    background-color: orange;
    text-align: center;
    height: 20px;
    width: 100%;
    .nav-event {
      margin-top: 3px;
    }
  }
  
  .nav-box {
    position: fixed;
    background-color: rgb(255, 255, 255);
    z-index: 999;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    .nav-center {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 90%;
      margin: 20px 0 10px;

      .nav-top {
        margin-top: 10px;
        display: flex;
        width: 100%;
        justify-content: center;

        .logo {
          text-decoration: none;
          color: black;
          font-size: 45px;
          font-weight: bold;
          text-decoration: none;
          color: black;
          font-family: 'Kaushan Script', cursive;
        }

        .category {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 650px;
          margin-left: 30px;
        }

        .li {
          margin-left: 35px;
        }

        .li:hover {
          color: gray;
          transform: scale(1.1);
          cursor: pointer;
        }

        .nav-right {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          width: 200px;
        }
      }

      .nav-menu-list {
        display: flex;
        justify-content: flex-end;
        margin-top: 30px;
      }

      .nav-menu-list-hover {
        display: none;
      }

      .nav-menu {
        display: flex;
        flex-direction: column;
        width: 75px;

        .nav-link {
          text-decoration: none;
        }
      }

      .li-list {
        margin-top: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: dashed;
        color: black;
      }

      .nav-mock {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 900px;
        height: 230px;
      }
    }
  }
}
